<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>boolzap</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
		<link rel="stylesheet" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body class="py-5">
		<div id="app" class="container ">
			<div   class="row h-100">

				<div id="col-left" class=" col-5 border px-0 d-flex flex-column">
					<div id="col-left-top" class="p-2 d-flex align-items-center
							justify-content-between" >
						<div class=" d-flex align-items-center">
							<figure>
								<img src="./img/avatar_io.jpg" 
									class="rounded-circle"
									width="65"
									alt="avatar personale">
							</figure>
							<span>Sofia</span>

						</div>
						<div class="d-flex gap-4">
						<i class=" fas fa-circle-notch"></i>
						<i class="far fa-comment-alt"></i>
						<i class="fas fa-ellipsis-v"></i>

						</div>

					
					</div>

					<div Id="col-left-notifiche" class="p-2 align-items-center gap-4" >
						<div id="bell" class="rounded-circle bg-light">
							<i class="far fa-bell-slash " aria-hidden="true"></i>

						</div>
						<div>
							<h3 class="fs-6">
								Ricevi notifiche di nuovi messaggi
							</h3>
							<a href=""> Attiva notifiche desktop</a>
						</div>
					</div>		
					<div id="col-left-search" class="p-2 ">
							<div class="input-group ">
								<span class="input-group-text" id="basic-addon1">
									<i class="fas fa-search" aria-hidden="true"></i>
								</span>
								<input type="text" class="form-control" placeholder="Cerca o inizia chat" aria-label="Username" aria-describedby="basic-addon1">
							</div>

					</div>
					<div id="col-left-chats" 
					class="h-100 d-flex flex-grow-1  bg-light overflow-y-scroll">
						<div class=" w-100 ">
							
							<div 

							v-for="(element, index) in contacts"
							@click="changeChat( index )"
							class=" d-flex align-items-center justify-content-between gap-2 p-3 border">
								<div class="d-flex align-items-center">
									<figure>
										<img :src=" `./img/avatar${element.avatar}.jpg `" 
											class="rounded-circle" width="65"
											alt="">
									</figure>
									<div>
										<span>
										{{element.name}}
									</span>
									<p class="ultimo_messaggio">
										{{element.messages[element.messages.length - 1].message}}
									</p>	
									</div>
									
								</div>
								<div>
									<span>{{element.messages[element.messages.length - 1].date}}</span>
								</div>
							</div>
							

						</div>
						
					</div>	

					
				</div>	

			


						<div id="col-right" class=" col-7 border px-0 d-flex flex-column">

			
							<div id="col-left-top" class="p-2 d-flex align-items-center
							justify-content-between" >
						<div class=" d-flex align-items-center gap-4">
							<figure>
								<img :src="`./img/avatar${contacts[ activeChat].avatar}.jpg`" 
								
									class="rounded-circle"
									width="65"
									alt="avatar personale">
							</figure>
							<div>
								<span>{{contacts[ activeChat].name}}</span>
							<p class="ultimo-accesso"> ultimo accesso oggi alle 12:00</p>

							</div>
							
						</div>
						<div class="d-flex gap-4">
						<i class=" fas fas fa-search"></i>
						<i class="far fas fa-paperclip"></i>
						<i class="fas fa-ellipsis-v"></i>

						</div>
					</div>	

						<div id="col-right-chat" 
						class=" flex-grow-1  overflow-y-scroll p-3">
						
								<div
								v-for="(element, index) in contacts[ activeChat ].messages"
								class=" p-3 rounded  position-relative mb-4"
								:class="(element.status === 'sent') ? 'sent ms-auto' : 'received bg-light' ">
								
								
								 
									<p class="m-0">
										{{element.message}}
									</p>
									<span>
										{{element.date}}
									</span>
								</div>
								
								
						
<!-- 						
							<div class="received bg-light p-3 rounded position-relative">
								<p class="m-0">
									hai portato a spasso il cane?
								</p>
								<span>
									15:00
								</span>

							</div>
							 -->
					
								


						</div>

						<div id="col-right-new-message" class="d-flex align-items-center p-2 gap-3">
							<i class="far fa-smile px-3"></i>
							<div class=" w-100">
								<input  
								@keyUp.enter="newMessage"
								v-model="newText"
								class="form-control " type="text" name="newMessage"
								aria-describedby="helpId" 
								placeholder="Nuovo messaggio"
								id="newMessage">
							</div>
							<i class="fas fa-microphone px-3"></i>

							 
						</div>

					
					

			
			
				
				
				</div>	
			</div>
		</div>





		

			
			
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

			<script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>

			<script src="main.js"></script>

	</body>
</html>
